<div class="card shadow-4">
  <div class="flex card-container">
    <div class="flex-none flex align-items-center justify-content-center text-black p-4 m-3 border-round">
      <span class="text-2xl">S N E A K A</span>
    </div>
    <div class="flex-1 flex align-items-center justify-content-center font-bold text-black p-4 m-3 border-round ">
      <!-- <button  pButton pRipple class="mr-3 bg-white border-none"> -->
        <i class="pi pi-search mr-3" style="font-size: 1rem"></i>
      <!-- </button> -->
      <app-search-bar class="w-full"></app-search-bar>
    </div>
    <div class="flex-none  flex align-items-center justify-content-center font-bold text-black p-4 m-3 border-round">
      <app-dropdown class="mr-3"></app-dropdown>
      <button type="button" pButton pRipple class="surface-900 border-none">
        Discord
      </button>
    </div>
  </div>
</div>
